<script type="text/javascript">
    $(document).ready(function() {
        $('.tree-2').treegrid({
            expanderExpandedClass: 'glyphicon glyphicon-minus',
            expanderCollapsedClass: 'glyphicon glyphicon-plus',
            initialState: 'collapsed'
        });
    });
</script> 
<style>
@keyframes myChange {
  from {
      height: 100px;
  } to {
      height: 0;
  }
}

.changePanel.ng-hide {
  animation: 0.5s myChange;
}
</style>
<div class="container-fluid">
  <div class="panel panel-danger" >
    <div class="panel-body">
      <div class="col-xm-12 changePanel" ng-hide="panelGenerados">
        <div class="panel panel-info">


              <div class="panel-heading">Actividades de Investigación</div>
              <div class="panel-body">
                  <form class="form-horizontal">
                  <div class="form-group">
                    <label for="inpFacultad" class="control-label col-md-2">Tipo de Investigación</label>
                    <div class="col-md-10">
                      <select class="form-control" style="margin:2px;" ng-model="selected" ng-options="opt as opt for opt in actividadesInvestigacion" ng-init="selected=''" ng-change=actividadChange(selected)></select>
                    </div>
                    <label for="inpFacultad" class="control-label col-md-2">Facultad</label>
                    <div class="col-md-4">
                      <select class="form-control" style="margin:2px;" id="inpFacultad">
                          <option></option>
                          <option>Facultad de Producción y Servicios</option>
                          <option>Facultad de Procesos</option>
                      </select>
                    </div>
                    <label for="inpEscuela" class="control-label col-md-2">Escuela</label>
                    <div class="col-md-4">
                      <select class="form-control" style="margin:2px;" id="inpEscuela">
                          <option></option>
                          <option>Escuela Profesional de Ingeniería de Sistemas</option>
                          <option>Industrias Alimentarias</option>
                          <option>Ingeniería Mecánica</option>
                      </select>
                    </div>
                    <label for="inpSemestre" class="control-label col-md-2"> Semestre</label>
                    <div class="col-md-4">
                      <select class="form-control" style="margin:2px;" id="inpSemestre">
                          <option></option>
                          <option>2016-I Semestre I</option>
                          <option>2016-II Semestre II</option>
                          <option>2016-II Semestre III</option>
                      </select>
                    </div>
                    <label for="inpFondo" class="control-label col-md-2"> Docentes </label>
                    <div class="col-md-4">
                      <select class="form-control" style="margin:2px;" id="inpFondo">
                          <option></option>
                          <option>Sin Actividad</option>
                          <option>Con Actividad</option>
                      </select>
                    </div>
                    <div class="col-md-12" style="margin-top:10px;">
                      <a type="submit" class="col-md-offset-2 btn btn-primary" >
                        <span class="glyphicon glyphicon-search" aria-hidden="true"> Filtrar</span>
                      </a>
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <div class="panel panel-danger">
              <div class="panel-heading">Relación de Docentes</div>
              <div class="panel-body">

              
              <table class="table tree-2 table-bordered table-striped table-condensed">
                    <tr class="treegrid-0">
                        <td>Nombre del Docente</td><td>N° DNI</td><td>Total Duración</td><td>Con Actividad</td>
                    </tr>
                    <tr class="treegrid-1">
                        <td>Jośe Herrera</td><td>42342322</td><td>100 horas</td><td>Si</td>
                    </tr>
                    <tr class="treegrid-2 treegrid-parent-1">
                      <td>Actividad de Investigación 1</td><td></td><td>60 horas</td><td><button ng-click="panelChange(2)" type="submit" class="btn-sm btn-info">Ver</button></td>
                    </tr>
                    <tr class="treegrid-2 treegrid-parent-1">
                      <td>Actividad de Investigación 2</td><td></td><td>40 horas</td><td><button ng-click="panelChange(2)" type="submit" class="btn-sm btn-info">Ver</button></td>
                    </tr>
                    <tr class="treegrid-5">
                        <td>Juan Perez</td><td>45284222</td><td>150 horas</td><td>Si</td>
                    </tr>
                    <tr class="treegrid-6 treegrid-parent-5">
                        <td>Actividad de Investigación 1</td><td></td><td>70 horas</td><td><button ng-click="panelChange(2)" type="submit" class="btn-sm btn-info">Ver</button></td>
                    </tr>
                    <tr class="treegrid-7 treegrid-parent-5">
                        <td>Actividad de Investigación 2</td><td></td><td>80 horas</td><td><button ng-click="panelChange(2)" type="submit" class="btn-sm btn-info">Ver</button></td>
                    </tr>      
                </table> 

              </div>
            </div>
        </div>

        <!-- PANEL VER -->
       <div class="col-xm-12 changePanel" ng-hide="panelVer">
            <div class="panel panel-info">
          <div class="panel-heading">Revisar Actividad de Investigación <strong>{{selected}}</strong><button style="padding:3px 12px;" type="submit" class="btn btn-danger pull-right" ng-click="panelChange(1)">X</button></div>
          <div class="panel-body">
            
              <form class="form-horizontal">
                <div class="form-group">
                  <label class="control-label col-md-2" style="">Actividad Investigación</label>
                  <div class="col-md-4">
                    <select readonly="readonly" class="form-control" style="margin:2px;" ng-model="actividad" ng-options="opt as opt for opt in actividadesInvestigacion" ng-change=actividadChange(selected)></select>
                  </div>
                  <label class="control-label col-md-2" style="">Nombre</label>
                  <div class="col-md-4">
                    <input  readonly="readonly" type="text" style="margin:2px;" id="inpNombre" class="form-control" placeholder="Nombre de la investigación" value="Tratamiento sostenible y a bajo costo de agua con arsénico">
                  </div>
                  <label for="inpFacultad" class="control-label col-md-2">Facultad</label>
                  <div class="col-md-4">
                    <select readonly="readonly" class="form-control" style="margin:2px;" id="inpFacultad">
                        <option>Facultad de Producción y Servicios</option>
                        <option>Facultad de Procesos</option>
                    </select>
                  </div>
                  <label for="inpEscuela" class="control-label col-md-2">Escuela</label>
                  <div class="col-md-4">
                    <select readonly="readonly" class="form-control" style="margin:2px;" id="inpEscuela">
                        <option>Escuela Profesional de Ingeniería de Sistemas</option>
                        <option>Industrias Alimentarias</option>
                        <option>Ingeniería Mecánica</option>
                    </select>
                  </div>
                  <label for="inpSemestre" class="control-label col-md-2"> Semestre</label>
                  <div class="col-md-4">
                    <select readonly="readonly" class="form-control" style="margin:2px;" id="inpSemestre">
                        <option>Semestre I</option>
                        <option>Semestre II</option>
                        <option>Semestre III</option>
                    </select>
                  </div>
                  <label class="control-label col-md-2"> Duracion de la Actividad</label>
                  <div class="col-md-4">
                    <input readonly="readonly" type="number" style="margin:2px;" id="inpHoras" class="form-control" placeholder="Número de horas que durara la investigación" value="90">
                  </div>
                  <div id="actividad3" ng-show="actividad3_show">
                    <label class="control-label col-md-2">Investigador</label>
                    <div class="col-md-4">
                      <select readonly="readonly" class="form-control" style="margin:2px;" id="inpLabor">
                          <option>Principal</option>
                          <option>Co-Investigador</option>
                      </select>
                    </div>
                    <label for="inpFondo" class="control-label col-md-2"> Fondo Concursable</label>
                    <div class="col-md-4">
                      <select readonly="readonly" class="form-control" style="margin:2px;" id="inpFondo">
                          <option>CONCYTEC</option>
                          <option>FINCyT</option>
                      </select>
                    </div>
                  </div>
                  <div id="actividad2" ng-show="actividad2_show">
                    <label for="inpFondo" class="control-label col-md-2"> Tipo de Asesoria</label>
                    <div class="col-md-4">
                      <select readonly="readonly" class="form-control" style="margin:2px;" id="inpFondo">
                          <option>Pre Grado</option>
                          <option>Post Grado</option>
                      </select>
                    </div>
                  </div>
                  <div id="actividad4" ng-show="actividad4_show">
                    <label for="inpFondo" class="control-label col-md-2"> Tipo de Producción</label>
                    <div class="col-md-4">
                      <select readonly="readonly" class="form-control" style="margin:2px;" id="inpFondo">
                          <option>Libro</option>
                          <option>Artículo</option>
                          <option>Ponencia Congreso Nacional</option>
                          <option>Ponencia Congreso Internacional</option>
                      </select>
                    </div>
                  </div>
                  <div id="actividad1" ng-show="actividad1_show">
                    <label class="control-label col-md-2">Tipo de Labor</label>
                    <div class="col-md-4">
                      <select readonly="readonly" class="form-control" style="margin:2px;" id="inpLabor">
                          <option>Lectiva</option>
                          <option>No Lectiva</option>
                      </select>
                    </div>
                  </div>
                  
                  <label class="control-label col-md-2"> Colaboradores</label>
                  <div class="col-md-4">
                    <input readonly="readonly" type="text" style="margin:2px;" id="inpAlumnos" class="form-control" placeholder="Seleccione los alumnos" value="Eduardo Zapana">

                  </div>

                  
                    
                  <label class="control-label col-md-2"> Area Investigación</label>
                  <div class="col-md-4">
                    <select readonly="readonly" ng-model="customer.Area"                
                              ng-options="obj.id as obj.area for obj in areas"
                              ng-change="getSubArea()"
                              class="form-control" 
                              ng-required="true"
                              style="margin:2px;"
                              id="country">
                        <option value="">Ciencias Agrícolas</option>
                      </select>
                  </div>
                  <label class="control-label col-md-2"> Sub-Area Investigación</label>
                  <div class="col-md-4">
                    <select readonly="readonly" ng-model="customer.SubArea"
                                ng-options="x.Id as x.subArea for x in subAreas"
                                ng-change="getDisciplina()"
                                class="form-control" 
                                ng-required="true"
                                style="margin:2px;"
                                id="city">
                          <option value="">"Agricultura, Silvicultura y Pesca"</option>
                        </select> 
                  </div>
                  <label class="control-label col-md-2"> Disciplina</label>
                  <div class="col-md-4">
                    <select readonly="readonly" ng-model="customer.Disciplina" 
                                ng-options="x.Id as x.disciplina for x in disciplinas"
                                class="form-control"
                                ng-required="true"
                                style="margin:2px;"
                                id="state">
                          <option value="">Agricultura</option>
                        </select> 
                  </div>  
                </div>
              </form>
              <form class="form-horizontal">
                <div class="form-group">
                
                  <label class="control-label col-md-2"> Descripción de la Actividad</label>
                  <div class="col-md-10">
                    <textarea readonly="readonly" style="margin:2px;" class="form-control" rows="5" placeholder="descripcion del proyecto"></textarea> 
                  </div>
                  <label for="inpFile" class="control-label col-md-2"> Archivos adjuntos a la actividad</label>
                  <div class="col-md-10">
                    <input id="file-1" style="margin:2px;" type="file" multiple class="file" data-overwrite-initial="false" data-min-file-count="1">
                  </div>
                </div>
              </form>
          </div>
        </div>  
        </div>
          
        <!-- FIN PANEL VER -->

      </div>
    </div>
	</div>